.header {
    width: 100%;
    height: 100px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;

}

.imagGSeLOGiN1 {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
}

.FurioriN1 {
    vertical-align: middle;
    display: inline-block;
    width: 130px;
    height: 41px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 41.45px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}


.lOGDIvTExST {
    /* display: flex;
    align-items: center; */
    width: 185px;
    height: 41px;
    top: 29px;
    left: 54px;
    gap: 0px;
    opacity: 0px;
    margin-left: 54px;
}

.divisadGili {
    display: flex;
    align-items: center;
    width: 100%;
    height: 41px;
    top: 29px;
    left: 54px;
    gap: 0px;
    opacity: 0px;

}

/* nav MEn */
.HOmeFirst {
    width: 48px;
    height: 24px;
    top: 38px;
    left: 308px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.ShopFirst {
    width: 42px;
    height: 24px;
    top: 38px;
    left: 431px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.aboutFirst {
    width: 49px;
    height: 24px;
    top: 38px;
    left: 548px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.COntafFirst {
    width: 66px;
    height: 24px;
    top: 38px;
    left: 672px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.ulFIrsT li {
    padding-left: 75px;
    display: inline-block;
    align-items: center;
    padding-top: 4px;


}

.navMEnFirst {
    display: flex;
    width: 630px;
    height: 24px;
    top: 38px;
    left: 308px;
    gap: 0px;
    opacity: 0px;

}

/* aqeadn main iwyeba */
.imagEMAINN {
    width: 100%;
    height: 316px;
    top: 100px;
    gap: 0px;
    opacity: 0px;
}

.ouRPRODUCTs {
    width: 269px;
    height: 48px;
    top: 465px;
    left: 549px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: rgba(58, 58, 58, 1);
    transition: 5s;
}
.ouRPRODUCTs:hover{
    color: rgb(235, 15, 15);
    transition: 5s;
    text-shadow: 2px 2px 5px rebeccapurple;
}

.proDUctDIIV {
    display: flex;
    justify-content: center;
    margin-top: 49px;
}

.secTionMainSECONd {
    width: Hug (1, 236px)px;
    height: Hug (446px)px;
    top: 17px;
    left: 99px;
    gap: 40px;
    opacity: 0px;
}

.potoSectiaN1 {
    width: 285px;
    height: 446px;
    gap: 0px;
    opacity: 0px;

}

.potoN2 {
    width: 285px;
    height: 446px;
    gap: 0px;
    opacity: 0px;

}

.potoN3 {
    width: 285px;
    height: 446px;
    gap: 0px;
    opacity: 0px;

}

.potoN4 {
    width: 285px;
    height: 446px;
    gap: 0px;
    opacity: 0px;


}

.mtavariDIVI {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.gamypoi {
    display: flex;
    gap: 31px;
}

.bRowers {
    width: 300px;
    height: 48px;
    top: 1100px;
    left: 527px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
}

.browsPETEG {
    width: 559px;
    height: 28.71px;
    top: 1148px;
    left: 433px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgba(102, 102, 102, 1);
}

.momaweSrigeeli {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* kitxva:: aq mainttersebs xo ar aris dashoreba saan margins gavwwer */
.ddriurnG {
    width: 79px;
    height: 36px;
    top: 1749px;
    left: 266px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    padding-top: 30px;
}

.ertanirFOto {
    width: 381px;
    height: 480px;
    top: 1239px;
    left: 115px;
    gap: 0px;
    opacity: 0px;


}

.sectinsN3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fristDIVGANGG {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.living {
    width: 71px;
    height: 36px;
    top: 1749px;
    left: 671px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    padding-top: 30px;
}

.rTuloARARIS {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bedRum {
    width: 112px;
    height: 36px;
    top: 1749px;
    left: 1051px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    padding-top: 30px;
}

.bodloCHarCHo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mTavarIBICHI {
    display: flex;
    gap: 20px;


}

.ChadiBICHODZIzrs {
    margin-top: 62.29px;

}

.sectionN4 {
    margin-top: 133px;
    width: 1239px;
    /* width: 100%; */
    height: 631px;
    top: 1918px;
    left: 87px;
    gap: 0px;
    opacity: 0px;
    margin-left: auto;
    margin-right: auto;

}

.descitTION {
    width: 137px;
    height: 36px;
    top: 1918px;
    left: 197px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.piTegDescipation {
    width: 269px;
    height: 36px;
    top: 1918px;
    left: 390px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
    padding-left: 56px;
}

.bigduv {
    display: flex;
    justify-self: center;
    width: 462px;
    height: 36px;
    top: 1918px;
    left: 197px;
    gap: 0px;
    opacity: 0px;
    padding-left: 197px;

}

.pTegN1 {
    width: 1026px;
    height: 48px;
    top: 1991px;
    left: 194px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
    color: rgba(159, 159, 159, 1);
}

.pTegN2 {
    width: 1026px;
    height: 96px;
    top: 2069px;
    left: 194px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
    color: rgba(159, 159, 159, 1);
}

.ptegss {
    width: 1026px;
    height: 174px;
    top: 1991px;
    left: 194px;
    gap: 0px;
    opacity: 0px;
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 194px;
}

.savardzeliN1 {
    width: 605px;
    height: 348px;
    top: 2201px;
    left: 87px;
    gap: 0px;
    opacity: 0px;

}

.savardzeliN2 {
    width: 605px;
    height: 348px;
    top: 2201px;
    left: 721px;
    gap: 0px;
    opacity: 0px;
}

.pirveliDIvi {
    /* margin-left: 100px; */
}

.savadrzeliSDIVN2 {
    width: 605px;
    height: 348px;
    top: 2201px;
    left: 721px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background-color: rgba(217, 217, 217, 1);
}

.savrDezDivN1 {
    width: 605px;
    height: 348px;
    top: 2201px;
    left: 87px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background-color: rgba(217, 217, 217, 1);
}

.biGFOTO {
    display: block;
    gap: 18px;
    display: flex;
    padding-top: 36px;
}

.boloMAIN {
    width: Fixed (1, 334px)px;
    height: Hug (70px)px;
    gap: 0px;
    opacity: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

/* ეს მეინის ბოლო მიანტერესებს სწორად არის თუ არა რადგან space-bettwen-ში ჩავსვი კონტენტ და კიდევ მარჯინი დავუმატე 53 პიქსელი */
.widTHaDIv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: Fixed (1, 440px)px;
    height: Fixed (270px)px;
    top: 2699px;
    padding: 100px 0px 100px 0px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(250, 243, 234, 1);
}

.hightquali {
    width: 157px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.cafiTEd {
    width: 267px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.HightFirstDiv {
    margin-left: 53PX;
    width: Hug (267px)px;
    height: Hug (70px)px;
    gap: 10px;
    opacity: 0px;

}

.WidthDIV {
    width: Hug (328px)px;
    height: Hug (70px)px;
    gap: 10px;
    opacity: 0px;

}

.warrioRs {
    width: 258px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.wariorSPTEg {
    width: 126px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.FereSjppingDIV {
    width: Hug (244px)px;
    height: Hug (70px)px;
    gap: 10px;
    opacity: 0px;

}

.SHippingBROO {
    width: 174px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.ShippingPeg {
    width: 163px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.supporTDIV {
    width: Hug (259px)px;
    height: Hug (70px)px;
    gap: 10px;
    opacity: 0px;

}

.SuuporTAteg {
    width: 177px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.suuporTPTeg {
    width: 189px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.biggDIVV {
    display: flex;
    /* justify-content: space-evenly; */
    width: 1440px;
    width: 100%;
    height: 505px;
    top: 2969px;
    gap: 0px;
    opacity: 0px;
    /* background-color: aqua; */
}

.texTFrunirio {
    width: 85px;
    height: 36px;
    top: 48px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.uivesli400 {
    width: 285px;
    height: 72px;
    top: 134px;
    left: 102.01px;
    gap: 0px;
    opacity: 0px;
    width: 285px;
    height: 72px;
    top: 134px;
    left: 102.01px;
    gap: 0px;
    opacity: 0px;
    color: rgba(159, 159, 159, 1);
    padding-top: 50px;
}

.fl {
    display: flex;
}

.meoredIV {
    width: 68px;
    height: 312px;
    top: 48px;
    left: 523.01px;
    gap: 0px;
    opacity: 0px;
}

.moerdivAteg {
    width: 40px;
    height: 24px;
    top: 48px;
    left: 523.01px;
    gap: 0px;
    opacity: 0px;
    width: 40px;
    height: 24px;
    top: 48px;
    left: 523.01px;
    gap: 0px;
    opacity: 0px;
    color: rgba(159, 159, 159, 1);
}

.home {
    width: 48px;
    height: 24px;
    top: 127px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.shop {
    width: 42px;
    height: 24px;
    top: 197px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.abouT {
    width: 49px;
    height: 24px;
    top: 267px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.contaCt {
    width: 66px;
    height: 24px;
    top: 336px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pTegsDabla {
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding-top: 55px;
}

.mesameDIV {
    width: 140px;
    height: 242px;
    top: 48px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;

}

.help {
    width: 37px;
    height: 24px;
    top: 48px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.pymenst {
    width: 140px;
    height: 24px;
    top: 127px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.ReturNs {
    width: 62px;
    height: 24px;
    top: 197px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.privAet {
    width: 124px;
    height: 24px;
    top: 266px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.PtergDIvN2 {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    gap: 46px;

}

.meoreDdidiDIvi {
    display: flex;
    justify-content: space-around;
    width: 775.01px;
    height: 312px;
    top: 48px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    /* background-color: red; */
    padding-top: 48px;
    padding-left: 100px;

}

/* contant HTML */
.headdder {
    width: 1440px;
    width: 100%;
    height: 100px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(255, 255, 255, 1);
}

#logooNl {
    width: 50px;
    height: 32px;
    gap: 0px;
    opacity: 0px;

}

#Furcitero {
    width: 130px;
    height: 41px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 41.45px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}


#Homee {
    width: 48px;
    height: 24px;
    top: 38px;
    left: 308px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

#SHOOP {
    width: 42px;
    height: 24px;
    top: 38px;
    left: 431px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

#abouT {
    width: 49px;
    height: 24px;
    top: 38px;
    left: 548px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

#contacTs {
    width: 66px;
    height: 24px;
    top: 38px;
    left: 672px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.headerDIV {
    display: flex;
    align-items: center;
    width: 684px;
    height: 41px;
    top: 29px;
    left: 54px;
    gap: 0px;
    opacity: 0px;
    padding-top: 29px;


}

.lolgoDIV {
    display: flex;
    align-items: center;
    width: 185px;
    height: 41px;
    top: 29px;
    left: 54px;
    gap: 0px;
    opacity: 0px;
    padding-left: 54px;

}

.navMEnAtegs li {
    display: flex;
    display: inline;
    align-items: center;
    height: 24px;
    top: 38px;
    left: 308px;
    gap: 0px;
    opacity: 0px;

}

.ulnavAa {
    display: flex;
    gap: 75px;
    align-items: center;
    padding-left: 69px;
}

/* contacT main */
#maonfpto {
    width: 1440px;
    width: 100%;
    height: 316px;
    top: 100px;
    gap: 0px;
    opacity: 0px;
}

.bodrer-BOX {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 98px;

}

#getIn {
    width: 375px;
    height: 54px;
    top: 514px;
    left: 533px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.H4 {
    width: 544px;
    height: 48px;
    top: 575px;
    left: 398px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(159, 159, 159, 1);
}

.pol {
    margin-left: 100px;
}

.adresWITh {
    margin-left: 82px;
    width: 502px;
    height: 537px;
    top: 705px;
    left: 82px;
    gap: 0px;
    opacity: 0px;
    margin-top: 82px;
    padding-top: 150px;
}

.adderel {
    width: 105px;
    height: 36px;
    top: 799px;
    left: 82px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.adrees {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.adresP {
    padding-top: 10px;
    width: 180px;
    height: 72px;
    top: 807px;
    left: 217px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.phonee {
    width: 82px;
    height: 36px;
    top: 920px;
    left: 82px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.phinePteg {
    padding-top: 5px;
    width: 212px;
    height: 48px;
    top: 932px;
    left: 217px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.nomRIsdiv {
    display: flex;
    padding-top: 85px;

}

.iframeMAPS {
    width: 680px;
    height: 374px;
    top: 751px;
    left: 686px;
    gap: 0px;
    opacity: 0px;

}

.secTionMArger {
    display: flex;
    gap: 102px;
    align-items: center;
}

.secTiabolo {
    padding-top: 137px;
}

.divSecTION {
    width: 817px;
    height: 238px;
    top: 1262px;
    left: 88px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 88px;
}

.hanDamdePrice {
    width: 632px;
    height: 45px;
    top: 1262px;
    left: 88px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.loereIPSum {
    width: 817px;
    height: 115px;
    top: 1319px;
    left: 88px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: justified;
    color: rgba(159, 159, 159, 1);

}

.sityvaTadiV {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.redMore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 89px;
    height: 36px;
    top: 1464px;
    left: 88px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.radad {
    width: 89px;
    height: 24px;
    top: 1464px;
    left: 88px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
    color: rgba(0, 0, 0, 1);
}

.Xazi {
    width: 60px;
    margin-left: 5px;
    height: 0px;
    top: 1500px;
    left: 94px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    margin-top: 12px;

}

.marger-BOX {
    width: Fixed (1, 440px)px;
    height: Fixed (270px)px;
    top: 1560px;
    padding: 100px 0px 100px 0px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(250, 243, 234, 1);

}

.hightcals {
    width: Hug (267px)px;
    height: Hug (70px)px;
    gap: 10px;
    opacity: 0px;

}

.Qualiti {
    width: 157px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.H22 {
    width: 267px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.warreyClass {
    width: Hug (258px)px;
    height: Hug (70px)px;
    gap: 10px;
    opacity: 0px;

}

.Warrynli {
    width: 258px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.H444 {
    width: 126px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    width: 126px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    color: rgba(137, 137, 137, 1);
}

.freeeShipinGCONSt {
    width: Hug (174px)px;
    height: Hug (70px)px;
    gap: 2px;
    opacity: 0px;

}

.shippinGN1 {
    width: 174px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.h44 {
    width: 163px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.heloo {
    width: Hug (189px)px;
    height: Hug (70px)px;
    gap: 2px;
    opacity: 0px;

}

.anDSupoort {
    width: 177px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.H333 {
    width: 189px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.marGINbOx-disfle {
    display: flex;
    justify-content: space-between;
    margin-left: 53px;

}

.footerBOyyyY {
    height: 505px;
    top: 1860px;
    padding: 48px 564.99px 145px 100px;
    gap: 0px;
    opacity: 0px;
    margin-top: 30px;
    /* background-color: black; */
}

.foterisMTavariDiv {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 775.01px;
    height: 312px;
    top: 48px;
    left: 100px;
    gap: 0px;
    opacity: 0px;

}

.aTegFurero {
    width: 85px;
    height: 36px;
    top: 48px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.universalYY {
    width: 285px;
    height: 72px;
    top: 134px;
    left: 102.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.spanspafrker {
    display: flex;
}

.foterSecond {
    width: 68px;
    height: 312px;
    top: 48px;
    left: 523.01px;
    gap: 0px;
    opacity: 0px;
}

.linksReek {
    width: 40px;
    height: 24px;
    top: 48px;
    left: 523.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.clasHOMFage {
    width: 48px;
    height: 24px;
    top: 127px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.shopPageumage {
    width: 42px;
    height: 24px;
    top: 197px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.aboYUTmarGer {
    width: 49px;
    height: 24px;
    top: 267px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.conaTctaMagrfer {
    width: 66px;
    height: 24px;
    top: 336px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.homagarDFivBoy {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-top: 55px;
}

.Help-teg {
    width: 37px;
    height: 24px;
    top: 48px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.bolosecTIa {
    width: 140px;
    height: 242px;
    top: 48px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;

}

.pamantOPTIMUs {
    width: 140px;
    height: 24px;
    top: 127px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.Returnsa {
    width: 62px;
    height: 24px;
    top: 197px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pIrvatePLitic {
    width: 124px;
    height: 24px;
    top: 266px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.vinCehster {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-top: 55px;
}

.h2oteg {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* aqedan iwt=yeba about blog html */
.diddiHeaderi {
    width: 1440px;
    height: 100px;
    width: 100%;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(255, 255, 255, 1);
}

.fotosDiv {
    display: flex;
    align-items: center;
    width: 185px;
    height: 41px;
    top: 29px;
    left: 54px;
    gap: 0px;
    opacity: 0px;

}

.amaTi-Widthi {
    padding-top: 29px;
    margin-left: 54px;
    display: flex;
    align-items: center;
    width: 684px;
    height: 41px;
    top: 29px;
    left: 54px;
    gap: 0px;
    opacity: 0px;
}

#firiNet {
    padding-left: 5px;
    width: 130px;
    height: 41px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 41.45px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.homeNvMenu {
    display: flex;
    align-items: center;
    gap: 75px;
    margin-left: 69px;

}

.homessraf {
    width: 48px;
    height: 24px;
    top: 38px;
    left: 308px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.shopSeraf {
    width: 42px;
    height: 24px;
    top: 38px;
    left: 431px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.abutSerif {
    width: 49px;
    height: 24px;
    top: 38px;
    left: 548px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.cointactSerif {
    width: 66px;
    height: 24px;
    top: 38px;
    left: 672px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}


.mainimageDiv {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mainBIHGFOTO {
    width: 1440px;
    width: 100%;
    height: 316px;
    top: 100px;
    gap: 0px;
    opacity: 0px;

}

.realativi {
    display: flex;
    align-items: center;
    width: 107px;
    height: 133px;
    top: 161px;
    left: 667px;
    gap: 0px;
    opacity: 0px;

}

.blogg {
    width: 107px;
    height: 72px;
    top: 222px;
    left: 667px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.rtuliBou {
    width: 48px;
    height: 24px;
    top: 295px;
    left: 660px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.metiaaaa {
    width: 14px;
    height: 8px;
    top: 17px;
    left: 6px;
    gap: 0px;
    opacity: 0px;
    color: black;
}

.blogero {
    width: 35px;
    padding-left: 6px;
    height: 24px;
    top: 295px;
    left: 740px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.metoobaDIVV {
    display: flex;
    align-items: center;
    gap: 6px;
    text-align: center;

}

.l {
    position: relative;
    bottom: 390px;
    right: 711px;
}

.realativi {
    position: absolute;
    bottom: 100px;
    right: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

/* amas vubrundebi da sworad vaketeb */
.maeinLeftBig {
    width: 820px;
    height: 1642px;
    top: 522px;
    left: 97px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-left: 97px;
}

.biGfotoa {
    width: 817px;
    height: 500px;
    top: 522px;
    left: 100px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
}

.fa-user {
    width: 14.48px;
    height: 16.15px;
    top: 2px;
    left: 2.76px;
    gap: 0px;
    opacity: 0px;
    color: rgba(159, 159, 159, 1);

}

.iconaDIv {
    display: inline-block;
    gap: 7px;
    width: 80px;
    height: 24px;
    top: 1039px;
    left: 97px;
    gap: 0px;
    opacity: 0px;

}

.iconh4 {
    display: inline-block;
    width: 53px;
    height: 24px;
    top: 1039px;
    left: 124px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.iCIonDIvN2 {
    width: 121px;
    height: 24px;
    top: 1039px;
    left: 212px;
    gap: 0px;
    opacity: 0px;
}

.fa-calendar {
    display: inline-block;
    width: 16.67px;
    height: 16.67px;
    top: 1.67px;
    left: 1.67px;
    gap: 0px;
    opacity: 0px;
    color: rgba(159, 159, 159, 1);
}

.iconeH4N2 {
    display: inline-block;
    width: 90px;
    height: 24px;
    top: 1039px;
    left: 243px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.iconeIMage {
    width: 18.91px;
    height: 18.91px;
    top: 3.06px;
    left: 3.06px;
    gap: 0px;
    opacity: 0px;
    color: rgba(159, 159, 159, 1);
    display: inline-block;
}

.iconeDIvN3 {
    width: 78px;
    height: 24px;
    top: 1039px;
    left: 368px;
    gap: 0px;
    opacity: 0px;
}

.iconeH4N3 {
    display: inline-block;
    width: 47px;
    height: 24px;
    top: 1039px;
    left: 399px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.aicionsDIVSmarGre {
    display: flex;
    margin-top: 17px;
    width: 349px;
    height: 24px;
    top: 1039px;
    left: 97px;
    gap: 0px;
    opacity: 0px;
    justify-content: space-between;
}

.alGiung {
    width: 517px;
    height: 45px;
    top: 1078px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.loremiSDIv {
    width: 817px;
    height: 115px;
    top: 1135px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: justified;
    color: rgba(159, 159, 159, 1);
}

.radmore {
    width: 89px;
    height: 24px;
    top: 1280px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
    color: rgba(0, 0, 0, 1);
}

.xaziaa {
    text-align: center;
    align-items: center;
    width: 60px;
    height: 0px;
    top: 1316px;
    left: 106px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    margin-top: 6px;
}

.adicon {
    display: flex;
    gap: 7px;
}

.siTyvaDaXazi {
    gap: 12px;
    display: inline-block;
    /* align-items: center;
    text-align: center; */
}

.didiBICHIDIVI {
    margin-top: 54px;
}

.iconekl {
    display: flex;
    gap: 7px;
}

.icoNEsBidgiv {
    margin-top: 17px;
    width: 393px;
    height: 24px;
    top: 1887px;
    left: 97px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    gap: 35px;
}

.imageNop {
    width: 817px;
    height: 500px;
    top: 1370px;
    left: 100px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;

}

.icohandmond {
    display: inline-block;
    margin-left: 7px;
    width: 91px;
    height: 24px;
    top: 1887px;
    left: 399px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.meoremarka {
    display: flex;
    gap: 7px;
    display: inline-block;
    gap: 7px;
    width: 122px;
    height: 24px;
    top: 1887px;
    left: 368px;
    gap: 0px;
    opacity: 0px;
}

.kak {
    margin-top: 15px;
}

#ptey {
    width: 506px;
    height: 45px;
    top: 1926px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.gamaerTianebeliDIDI {
    display: flex;
    margin-top: 106px;
    gap: 30px;
}

.ploremaa {
    margin-top: 12px;
    width: 817px;
    height: 115px;
    top: 1983px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: justified;
    color: rgba(159, 159, 159, 1);
}

#readmaks {
    width: 89px;
    height: 24px;
    top: 2128px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
    color: rgba(0, 0, 0, 1);
}

.monoas {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.moklexazi {
    margin-left: 2px;
    margin-top: 6px;
    width: 60px;
    height: 0px;
    top: 2164px;
    left: 106px;
    gap: 0px;
    border: 1px 10px 10px 10px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}

.marginToopDIv {
    display: flex;
    justify-content: center;
    margin-top: 962px;
}

.width {
    display: flex;
    justify-content: space-around;
    width: 392px;
    height: 60px;
    top: 3066px;
    left: 524px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
}

.onlii {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    top: 3066px;
    left: 524px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: rgba(184, 142, 47, 1);
}

#onl1 {
    text-align: center;
    width: 7px;
    height: 30px;
    top: 3081px;
    left: 551px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.boderN2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    top: 3066px;
    left: 622px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background-color: rgba(249, 241, 231, 1);
}

#N2 {
    width: 12px;
    height: 30px;
    top: 3081px;
    left: 646px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.boreN3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    top: 3066px;
    left: 720px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background-color: rgba(249, 241, 231, 1);
}

#N33 {
    width: 12px;
    height: 30px;
    top: 3081px;
    left: 744px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.NEaxt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 60px;
    top: 3066px;
    left: 818px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background-color: rgba(249, 241, 231, 1);
}

#Nextg {
    width: 43px;
    height: 30px;
    top: 3081px;
    left: 846px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}



.megacHrCHo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 393px;
    height: 537px;
    top: 500px;
    left: 947px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: Mixed solid rgba(159, 159, 159, 1);
    /* background-color: blue; */
}

.inputfirst {
    margin-top: 22px;
    width: 311px;
    height: 58px;
    top: 522px;
    left: 988px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(159, 159, 159, 1);

}

.cateGioriDIv {
    margin-top: 43px;
    width: 251px;
    height: 353px;
    top: 623px;
    left: 1024px;
    gap: 0px;
    opacity: 0px;
    /* background-color: aqua; */
}

#categiorai {
    width: 134px;
    height: 36px;
    top: 623px;
    left: 1024px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.vrarak {
    width: 49px;
    height: 24px;
    top: 692px;
    left: 1024px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.amatimmarTveli {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    gap: 41px;
}

.wariroa {
    width: 55px;
    height: 24px;
    top: 757px;
    left: 1024px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

#warior8 {
    width: 11px;
    height: 24px;
    top: 757px;
    left: 1264px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.wariorbiYS {
    display: flex;
    justify-content: space-between;
}

.varnikSa {
    width: 10px;
    height: 24px;
    top: 692px;
    left: 1264px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.crafits {
    display: flex;
    justify-content: space-between;
}

.hammade {
    width: 91px;
    height: 24px;
    top: 822px;
    left: 1024px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

#hamad7 {
    width: 9px;
    height: 24px;
    top: 822px;
    left: 1264px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.haurg {
    display: flex;
    justify-content: space-between;
}

.inter5 {
    width: 57px;
    height: 24px;
    top: 887px;
    left: 1024px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

#unert1 {
    width: 6px;
    height: 24px;
    top: 887px;
    left: 1264px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.inerieri {
    display: flex;
    justify-content: space-between;
}

.woda {
    width: 47px;
    height: 24px;
    top: 952px;
    left: 1024px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);

}

#wod6 {
    width: 11px;
    height: 24px;
    top: 952px;
    left: 1264px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.wooodbOY {
    display: flex;
    justify-content: space-between;
}

.dzlieri {
    margin-top: 81px;
    width: 252px;
    height: 618px;
    top: 1094px;
    left: 1023px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;

}

.arakaks {
    margin-top: 16px;
    width: 155px;
    height: 36px;
    top: 1094px;
    left: 1024px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.gamova {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 26px;

}

.kjas {
    display: flex;
    flex-direction: column;
}

.lkla {
    width: 119px;
    height: 42px;
    top: 1164px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.ahha {
    width: 119px;
    height: 18px;
    top: 1211px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.exploera {
    width: 120px;
    height: 42px;
    top: 1283px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.auhg {
    width: 119px;
    height: 18px;
    top: 1330px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.abara {
    display: flex;
    align-items: center;
    gap: 12px;
}

.mon-witga {
    width: 160px;
    height: 42px;
    top: 1402px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.biy-win {
    width: 119px;
    height: 18px;
    top: 1449px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.miNIbiChi {
    display: flex;
    align-items: center;
    gap: 12px;
}

.modengome {
    width: 119px;
    height: 42px;
    top: 1521px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    width: 119px;
    height: 42px;
    top: 1521px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    color: rgba(0, 0, 0, 1);
}

.aiyy {
    width: 119px;
    height: 18px;
    top: 1568px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.lanGari {
    display: flex;
    align-items: center;
    gap: 12px;
}

.box-onu {
    width: 119px;
    height: 42px;
    top: 1640px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}



.augnoksanm {
    width: 119px;
    height: 18px;
    top: 1687px;
    left: 1115px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.bodloFOto {
    display: flex;
    align-items: center;
    gap: 12px;
}

.eseao {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.section-secund {
    margin-top: 75%;
    width: Fixed (1, 440px)px;
    height: Fixed (270px)px;
    top: 3184px;
    padding: 100px 0px 100px 0px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(250, 243, 234, 1);
}

.wadth-cpntenbt {
    width: Fixed (1, 334px)px;
    height: Hug (70px)px;
    gap: 0px;
    opacity: 0px;

}

.tassi {
    width: 60px;
    height: 60px;
    padding: 0px 3.61px 0px 3.61px;
    gap: 0px;
    opacity: 0px;

}

.hightsa {
    width: 157px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.carferd {
    width: 267px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.tasaNd-teqst {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wichkal {
    width: 60px;
    height: 58.13px;
    top: 0.94px;
    gap: 0px;
    opacity: 0px;
    color: black;
}

.warranty {
    width: 258px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.Overgam {
    width: 126px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.content-Score {
    display: flex;
    align-items: center;
    gap: 12px;
}

.moa-pteg {
    width: 174px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.mosa-aTeg {
    width: 163px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.moasa-wesr {
    display: flex;
    align-items: center;
    gap: 12px;
}

.hseyts {
    width: 60px;
    height: 55.97px;
    top: 2.01px;
    gap: 0px;
    opacity: 0px;
    color: rgba(36, 36, 36, 1);
}

.hets-pteg {
    width: 177px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: rgba(36, 36, 36, 1);
}

.hetsA-tegs {
    width: 189px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.SHets-set {
    display: flex;
    align-items: center;
    gap: 12px;
}

.wadth-cpntenbt {
    display: flex;
    justify-content: space-evenly;
}

/* aqedan iwyba fofteri */
.footerDIv {
    height: 505px;
    top: 1860px;
    padding: 48px 564.99px 145px 100px;
    gap: 0px;
    opacity: 0px;
    margin-top: 30px;
    /* background-color: black; */

}

.Leson-Div {
    display: flex;
    justify-content: space-between;
    width: 775.01px;
    height: 312px;
    top: 48px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    /* background-color: red; */
}

.leso-Ateg {
    width: 85px;
    height: 36px;
    top: 48px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.foTerS-Sons {
    margin-top: 53px;
    width: 230px;
    height: 72px;
    top: 134px;
    left: 102.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.foter-Ategg {
    display: flex;
    flex-direction: column;
}

.fllUSa {
    display: flex;
}

.loinksa {
    width: 68px;
    height: 312px;
    top: 48px;
    left: 523.01px;
    gap: 0px;
    opacity: 0px;

}

#lonkaasa {
    width: 40px;
    height: 24px;
    top: 48px;
    left: 523.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.lonks-Home {
    width: 48px;
    height: 24px;
    top: 127px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.links-Shop {
    width: 42px;
    height: 24px;
    top: 197px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.links-aboUt {
    width: 49px;
    height: 24px;
    top: 267px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.links-Contacts {
    width: 66px;
    height: 24px;
    top: 336px;
    left: 525.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.lonks-StarST {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    gap: 46px;
}

.Helps-Div {
    width: 140px;
    height: 242px;
    top: 48px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    /* background-color: yellow; */

}

.Help-diSvg {
    width: 37px;
    height: 24px;
    top: 48px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.paumenT-Sons {
    width: 140px;
    height: 24px;
    top: 127px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.reTurns-So {
    width: 62px;
    height: 24px;
    top: 197px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.privaTe-so {
    width: 124px;
    height: 24px;
    top: 266px;
    left: 735.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.helpSS-Son {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-top: 55px;
}